{% extends 'base.html' %}
{% block content %}
<main class="container mt-3 mb-5">
	<h3 class="border-bottom pb-1 my-4">All Categories</h3>
	<div class="row">
		<!-- Category Box -->
		{% for category in categories %}
		<div class="col-md-4">
			<div class="card mb-3 shadow">
            <img src="{{category.category_image.url}}" class="card-img-top" alt="{{category.title}}">
			  <div class="card-body">
			    <h5 class="card-title">{{category.title}}</h5>
			    <hr/>
			    <p class="card-text"><a href="{% url 'category' category.id %}" class="btn btn-sm btn-primary">All News</a></p>
			  </div>
			</div>
		</div>
		{% endfor %}
	</div>
</main>
{% endblock %}