{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <title>Add Post</title>
</head>
<body>
    <div class="container my-4">
        <h3>Add Post</h3>
        <div class="card my-3">
            <h5 class="card-header">Add post</h5>
            <div class="card-body">
                <form action="">
                    <table class="table table-bordered">
                        <tr>
                            <th>Title</th>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <th>Detail</th>
                            <td><textarea class="form-control"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2"><button class="btn btn-primary">Submit</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>
</html>